$font-name-default: "Roboto";
$font-path: "@/assets/fonts/Roboto/";

@font-face {
  font-family: $font-name-default;
  font-weight: 100;
  src: url($font-path + "Roboto-Thin.ttf");
  font-display: swap;
}

@font-face {
  font-family: $font-name-default;
  font-weight: 300;
  src: url($font-path + "Roboto-Light.ttf");
  font-display: swap;
}

@font-face {
  font-family: $font-name-default;
  font-weight: 400;
  src: url($font-path + "Roboto-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: $font-name-default;
  font-weight: 500;
  src: url($font-path + "Roboto-Medium.ttf");
  font-display: swap;
}

@font-face {
  font-family: $font-name-default;
  font-weight: 700;
  src: url($font-path + "Roboto-Bold.ttf");
  font-display: swap;
}
