@import "./fonts";

* {
  font-family: $font-name-default, Helvetica, sans-serif;
  font-weight: 300;
}

html {
  font-size: $font-size-default;
}

.underline {
  position: relative;

  &::before {
    position: absolute;
    top: 15px;
    right: 0;
    left: 0;
    width: 41px;
    height: 2px;
    content: "";
    background-color: $color-black;
  }
}

ul {
  padding-left: 0;
  margin-left: 0;

  li {
    list-style-type: none;
  }
}
